.todoitem {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  margin: 1em;
  width: 40%;
  height: 20%;
  padding: 2%;
  background-image: linear-gradient(to bottom right, white, yellow);
}
